<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabarit Ma'lumotlari</title>
<!--    <meta http-equiv="refresh" content="2"> &lt;!&ndash; 2 soniyada bir yangilanadi &ndash;&gt;-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <!--    <title>Gabarit</title>-->
    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<!-- navbar -->
<nav class="navbar navbar-expand-lg fixed-top navbar_car">
    <a class="navbar-brand Car_gabarit " href="#"> Car gabarit</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-4">
            <li class="nav-item">
                <a class="navbar-brand" href="#about">Cars</a></li>
        </ul>
    </div>
</nav>
<!--header-->
<section>
    <div class="container service1 mt-5 Car " id="Services">
        <h2 class="text-center Car">Car gabarit</h2>
        <div class="row">
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                </svg>
                <h3>X</h3>
                <p><strong>X:</strong> {{ x }}</p></div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr lnr-database">
                </svg>
                <h3>Y</h3>
                <p><strong>Y:</strong> {{ y }}</p></div>
            <div class="col-sm-6 col-lg-4 mb-3">
                <svg class="lnr text-primary services-icon">
                </svg>
                <h3>H</h3>
                <p><strong>H:</strong> {{ h }}</p></div>
            </div>
        </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<!--<script type="text/javascript" src='js/main.js'></script>-->
</body>
</html>